---
// No frontmatter needed for this simple example
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/work/">Work</a></li>
            <li><a href="/notes/">Notes</a></li>
            <li><a href="/speaking/">Speaking</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
    <header>
        <h1>Welcome to Our Website!</h1>
    </header>
    <main>
        <p>Hi! I'm Kabir. I am a writer, maker, developer and artist. I've spent my life learning whatever it is I need to, in order to make the things I desire. I like to do stuff across a wide variety of disciplines, and this is my home for everythign I am doing online. Offline, I am currently based in Ahmedabad.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec diam risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque sit amet hendrerit risus, vel efficitur erat. Duis eget nisl leo. Cras vel nulla sit amet ligula vehicula consequat et eget leo. Fusce in augue non nisi fringilla dapibus.</p>
    </main>
    <footer>
        <p>Copyright &copy; 2023 All rights reserved.</p>
    </footer>
</body>
</html>
